@font-face {
    font-family: "Inter";
    src: url("../font/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: "Work Sans";
    src: url("../font/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

