@use "mixin" as mixin;
@import "font";



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr{
        position: absolute;
        top: 0;
        border: none;
        border-left: 1px solid white;
        width: 0.5px;
        height: 10%;
    }


header{
    @include mixin.layout(flex, column, center, center);
    background-color: black;
    @include mixin.size(60%, 100%, 2rem, 0)
    
}

.headerFrame{
    margin-top: 15vh;
    @include mixin.layout(flex, column, center, center);
    color: white;
    font-family: "Inter";
    h1{
        font-size: 4rem;
        width: 70%;
        text-align: center;
        span{
                color: black;
                text-shadow: 
                1px 0 0 white,
                0 1px 0 white,
                -1px 0 0 white,
                0 -1px 0 white;
            }
        }
        p{
            color: #FFF;
            text-align: center;
            font-family: "Work Sans";
            font-size: 0.75rem;
            font-weight: 400;
            letter-spacing: -0.03125rem;
        }
    }

.bar{
    margin-top: 20vh;
    width: 80%;
    @include mixin.layout(flex, row, space-between, center);
    a{
        @include mixin.buttonStyle(none,white,1px solid #AAAe,7.5vw, 5px 10px 5px 10px);
        text-align: center;
        font-family: "Work Sans";
        font-size: 1.30019rem;
        font-weight: 400;
        line-height: 110.76%;
        letter-spacing: -0.0255rem;
    }
    a:hover{
        color: black;
        background-color: white;
    }
}

.last{
    background-color: black;
    @include mixin.size(100%, 100%, 0 2rem 0 0, 0);
    @include mixin.layout(flex, column, center, center);
    
    p{
        color: white;
    }
    .bigText{
    margin-top: 10vh;
    width: 80%;
    font-family: "Inter";
    font-size: 6.10938rem;
    font-weight: 700;
    line-height: 111.125%;
    letter-spacing: -0.15469rem;
    }
}

.lowerLast{
    margin-top: 1.5%;
    margin-bottom: 7%;
    width: 100%;
    padding-left: 10%;
    display: flex;
    align-self: start;
    align-items: center;
    justify-content: space-between;
    .nummbersFrame{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }
    
    .nummbers{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        p:nth-child(1){
            font-family: "Work Sans";
            font-size: 0.875rem;
            font-weight: 400;
        }
        p:nth-child(2){
            font-family: "Inter";
            font-size: 5.42188rem;
            font-weight: 700;
            line-height: 125.216% ;
            letter-spacing: -0.15469rem;

        }
    }
    img{
        width: 41%;
    }
}





.stuck{
    @include mixin.size(170vh, 100%, 0 2rem 0 0, 0);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .stuckArticle{
        display: flex;
        flex-direction: column;
        gap: 3vh;
        width: 33%;
        h2{
            font-family: "Inter";
            font-size: 5.22394rem;
            font-weight: 700;
            line-height: 98.455%; 
            letter-spacing: -0.07738rem;
        }
        p{
            width: 85.6%;
            font-family: "Work Sans";
            font-size: 0.9875rem;
            font-weight: 400;
            line-height: 187.5%;
            letter-spacing: -0.0255rem;
        }

        .stuckLowertext{
            margin-top: 60vh;
            width:95%;
        }
    

    }
    img{
        position: absolute;
        height: 10%;
    }
    .pic1{
        width: 25%;
        height: 12%;
        top: -5%;
        right: 12%;
    }
    
    .pic2{
        top: 10%;
        left: 6%;
    }
    
    .pic3{
        top: 35%;
        right: 0%;
    }
    
    .pic4{
        width: 25%;
        height: 12%;
        top: 45%;
        left: 12%;
    }
    
    .pic5{
        width: 25%;
        height: 12%;
        top: 55%;
        right: 15%;
    }
    
    .pic6{
        top: 70%;
        left: 0;
    }
    
    .pic7{
        width: 30%;
        height: 12%;
        bottom: -2.5%;
        right: 20%;
    }
}

.bear{
    @include mixin.size(100vh, 100%, 0 2rem 0 0, 0);
    @include mixin.layout(flex, column, 0, center);
    background-color: black;
    .bearText{
        margin-top: 20%;
        width: 80%;
        @include mixin.layout(flex, row, space-between, center);
        .golden{
            color: white;
            @include mixin.layout(flex, column, 0, 0);
            p{
                font-family: "Work Sans";
                font-size: 1.23438rem;
                font-weight: 400;
                line-height: 150% ;
                letter-spacing: -0.0255rem;
            }
            h2{
                width: 40%;
                color: #FFF;
                font-family: "Inter";
                font-size: 5.22394rem;
                font-weight: 700;
                line-height: 98.455%;
            }
        }
        .design{
            @include mixin.layout(flex, column, space-between, 0);
            gap: 2vh;
            width: 100%;
            color: #FFF;
            font-family: "Inter";
            font-size: 1.81044rem;
            font-weight: 700;
            line-height: 160.715% ; 
            letter-spacing: -0.0255rem;
            
            p{
                font-family: "Work Sans";
                font-size: 1.15206rem;
                font-weight: 400;
                line-height: 160.715% ;
                letter-spacing: -0.0255rem;
            }
        }
    

    }
    .bearPics{
        margin-top: 10%;
        width: 80%;
        position: relative;
        @include mixin.layout(flex, row, center, center);
        img{
            position: absolute;
        }
    img:nth-of-type(1){
        top: 0;
        left: 0;
        width: 60%;
    }
    img:nth-of-type(2){
        top: 12vh;
        left: 55%;
        width: 30%;
    }
}
}

.blanc{
    @include mixin.size(60vh, 100%, 0 2rem 0 0, 0);
    article {
        max-width: 100%;
        height: 50vh;
        overflow: hidden;
        position: relative;
        img{
            z-index: -1;
            position: absolute;
            height: 120%;
            top: -30%;
            right: -15%;
            animation: circle 15s 0.1s linear infinite;
        }
        @keyframes circle {
            from {
                transform: rotate(0deg);
                }
            to {
                transform: rotate(360deg);
                }
            }

    }

}

.popey{
    height: 130vh;
    background-color: rgb(235, 235, 235);
    .popeyText{
        margin-top: 5%;
        color: black;
        .popeyBear{
            h2{
                color: black;
            }
            p{
                color: black;
            }
        }
        .popeyDesign{
            article{
                color: black;
            }
            p{
                color: black;
            }
            
        }
    }
    .popeyPics{
        margin-top: 10%;
        width: 80%;
        position: relative;
        @include mixin.layout(flex, row, center, center);
        img{
            position: absolute;
        }
    img:nth-of-type(2){
        top: 10vh;
        left: 10%;
        width: 30%;
    }
    img:nth-of-type(1){
        top: 0;
        left: 35%;
        width: 60%;
    }
}
}

footer{
    padding-bottom: 5%;
    overflow: hidden;
    @include mixin.layout(flex, row, center, center);
    background-color: black;
.footerFrame{
    position: relative;
    width: 80%;
    .footerText{
        width: 50%;
        margin-top: 15%;
        @include mixin.layout(flex, column, 0, 0);
        gap: 3vh;
        color: white;
        p{
            font-family: "Work Sans";
            font-size: 0.75rem;
            font-weight: 400;
        }
        article{
            font-family: "Inter";
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: 192.014%;
        }
        a{
            @include mixin.buttonStyle(none,white,1px solid #AAAe,7.5vw, 5px 10px 5px 10px);
            text-align: center;
            font-family: "Work Sans";
            font-size: 1.30019rem;
            font-weight: 400;
            line-height: 110.76%;
            letter-spacing: -0.0255rem;
        }

        a:hover{
            color: black;
            background-color: white;
        }

        .socials img{
            margin-top: 15%;
            width: 5%;
        }
    }

    .bannerDiv {
        position: absolute;
        width: 200%;
        right: 0;
        bottom: 0;
        transform: translateX(50%) rotate(45deg);
        background-color: white;
        
    .banner{
            font-size: 5rem;
            animation: banner 15s 0.2s linear infinite;
            span {
                color: white;
                text-shadow: 
                1px 0 0 black,
                0 1px 0 black, 
                -1px 0 0 black, 
                0 -1px 0 black;
            }
            @keyframes banner {
                0% {
                    transform: translateX(0);
                }
                25% {
                    transform: translateX(25%);
                }
                50% {
                    transform: translateX(0);
                }
                75% {
                    transform: translateX(-25%);
                }
                100% {
                    transform: translateX(0);
                }}
    }
    }
    .ngo img:nth-of-type(1){
        position: absolute;
        height: 7.5%;
        bottom: 0;
        right: 25%;
    }
    .ngo img:nth-of-type(2){
        position: absolute;
        height: 5%;
        bottom: 0;
        right: 10%;
    }
    }
}




















