@font-face {
  font-family: "Inter";
  src: url("../font/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../font/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr {
  position: absolute;
  top: 0;
  border: none;
  border-left: 1px solid white;
  width: 0.5px;
  height: 7.5rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 60%;
  width: 100%;
  padding: 2rem;
  margin: 0;
}

.headerFrame {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter";
}
.headerFrame h1 {
  font-size: 4rem;
  width: 70%;
  text-align: center;
}
.headerFrame h1 span {
  color: black;
  text-shadow: 1px 0 0 white, 0 1px 0 white, -1px 0 0 white, 0 -1px 0 white;
}
.headerFrame p {
  color: #FFF;
  text-align: center;
  font-family: "Work Sans";
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: -0.03125rem;
}

.bar {
  margin-top: 20vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bar a {
  text-decoration: none;
  color: white;
  border: 1px solid rgba(170, 170, 170, 0.9333333333);
  width: 7.5vw;
  padding: 5px 10px 5px 10px;
  text-align: center;
  font-family: "Work Sans";
  font-size: 1.30019rem;
  font-weight: 400;
  line-height: 110.76%;
  letter-spacing: -0.0255rem;
}

.last {
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 0 2rem 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.last p {
  color: white;
}
.last .bigText {
  margin-top: 10vh;
  width: 80%;
  font-family: Inter;
  font-size: 6.10938rem;
  font-weight: 700;
  line-height: 111.125%;
  letter-spacing: -0.15469rem;
}

.lowerLast {
  margin-top: 1.5%;
  margin-bottom: 7%;
  width: 100%;
  padding-left: 10%;
  display: flex;
  align-self: start;
  align-items: center;
  justify-content: space-between;
}
.lowerLast .nummbersFrame {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.lowerLast .nummbers {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.lowerLast .nummbers p:nth-child(1) {
  font-family: Work Sans;
  font-size: 0.875rem;
  font-weight: 400;
}
.lowerLast .nummbers p:nth-child(2) {
  font-family: Inter;
  font-size: 5.42188rem;
  font-weight: 700;
  line-height: 125.216%;
  letter-spacing: -0.15469rem;
}
.lowerLast img {
  width: 41%;
}

.stuck {
  height: 170vh;
  width: 100%;
  padding: 0 2rem 0 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stuck .stuckArticle {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 33%;
}
.stuck .stuckArticle h2 {
  font-family: Inter;
  font-size: 5.22394rem;
  font-weight: 700;
  line-height: 98.455%;
  letter-spacing: -0.07738rem;
}
.stuck .stuckArticle p {
  width: 90.8%;
  font-family: Work Sans;
  font-size: 0.9875rem;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: -0.0255rem;
}
.stuck .stuckArticle .stuckLowertext {
  margin-top: 60vh;
}

.stuck img {
  position: absolute;
  height: 10%;
}

.pic1 {
  top: -9vh;
  right: 12vw;
}

.pic2 {
  top: 17vh;
  left: 8vw;
}

.pic3 {
  top: 57vh;
  right: 0;
}

.pic4 {
  top: 77vh;
  left: 20vw;
}

/*# sourceMappingURL=style.css.map */
